/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.box-shadow {
    box-shadow: inset 20 0;
}

.col-md-4 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    height: 500px;
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
}

div.jumbotron {
    background-image: url('HP-Hero-Image.png');
    height: 698px;
    margin-left: %;
}

div.jumbocontainer {
    margin-left: 8%;
    width: 675px;
    height: 538px;
}

h1 {
    color: #ffffff !important;
    font-family: 'Poppins', sans-serif;
    width: 800px;
    font-size: 20px;
}

p.services {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #000000 !important;
    width: 300px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.button {
    background-color: #ffffff;
    color: #7AB2BE;
    font-family: 'Poppins', sans-serif;
    width: 262.91px;
    height: 63px;
    text-align: center;
    padding-top: 15px;
    font-weight: 700;

    &:hover {
        background-color: #7AB2BE;
        color: #000;
        text-decoration: none;
    }
}

div.abtcomp {
    display: grid;
    grid-template-columns: 901.5px 901.5px;
    grid-template-rows: 545px;
    font-size: 39px;
    padding: 112px 16px 80px 1px80.297;
    width: 885.5px;
}

p.learnmore {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #7ab2be;
    text-align: center;
}

div.services {
    height: 2800px;
    background: #f7fafc;
    box-shadow: 0px 5px 25px rgb(35 39 69 / 40%);
}

div.still {
    height: 283px;
    background: #373955;
    position: relative;
}

div.insidestill {
    width: 1350px;
    height: 187px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

div.col-md-5 {
    width: 900px;
    height: 160px;
}

h1.welcome {
    font-size: 31px;
    font-family: 'Poppins', sans-serif;
}

h1.title {
    font-weight: bold;
    font-size: 48px;
    width: 500px;
}

h1.black {
    font-size: 39px;
    font-weight: bold;
    color: #000000 !important;
}

div.second {
    height: 545px;
}

div.col-about {
    margin-top: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 150px;
}

p.black {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

div.blueback {
    background: #2a2d4c;
    margin-top: -30px;
}

div.col-location {
    width: 200px;
    height: 289px;
    margin-top: 150px;
    margin-left: 200px;
}

h1.black {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
}

.black-left {
    text-align: left;
}

.service-icon-inner:hover .rollover {
    display: inline;
    border-radius: 80px;
}

.service-icon-inner .rollover {
    display: none;
}

.service-icon-inner:hover .static {
    display: none;
}

.par-learn-more {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    height: 132px;
    line-height: 2;
    padding-right: 30%;
    padding-left: 30%;
}

.last-section {
    height: 543px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 543px;
}

.row {
    justify-content: center;
}

.meet-our-doctors {
    width: 650px;

    /* margin-left: 250px */
    margin-top: 150px;
}

.foot-service {
    width: 325px;
}

.foot-icons {
}

.address {
    width: 220px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 150px;
    margin-top: 100px;
}

.main-address {
    height: 40px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.foot-injury {
    width: 337px;
    height: 400px;
    margin-bottom: 20px;
}

.first-about {
    /* text-align: left */
}

.btn-primary {
}





